/* We style the body,apply background pic and his atributes and we apply our fonts */
body{
    font-family: 'Monda', sans-serif;
    background-image: url(https://images.unsplash.com/photo-1567367975896-5a54e8542ddb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-color: #cccccc; 
    height:1080px;
    width: auto;
    opacity: 0.9; 
    background-position: center; 
    background-repeat: none; 
    background-size: cover; 
}
/* Background color to our headder */
.header{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
}



